
/* semantic color variables for this project */
:root {
    /* CG */
    --color-yellow: #ffed00;
    --color-blue: #20234c;
    --color-blue-dark: #0e1237;
    --color-gray: #ededed;
    --color-gray-light: #f2f2f2;
    --color-gray-mid: #e4e4e4;
    --color-gray-dark: #4D4D4D;
    --color-superwhite: #fcfcfc;
    --color-text: var(--color-gray-dark, #4D4D4D);
    --color-heart: #ff9aac;
    /* --color-focus-outline: #56b6ffc0; */
    --color-focus-outline: #a8c7fa;

    --container-max-width: 1110px;
    --container-padding: 15px;

    --header-height-top: 55px;
    --header-height-bottom: 39px;
    --header-height: calc(var(--header-height-top) + var(--header-height-bottom));
}

@media screen and (max-width: 991px) {
  :root {
    --header-height: var(--header-height-top);
  }
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}


